# Ignore node_modules directory
node_modules/

# Ignore all log files
*.log
.angular

# Ignore the .env file
.env

/out/
/server/out/
out/

#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/

package-lock.json
.DS_Store

# File for vscode workspace
workspace.code-workspace

# .env  indépendant pour chaque membre de l'équipe
*.env