<nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" href="/" matTooltip="Retournez à l'accueil"
      >INF3710 - TP4</a
    >
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/hotels">Hotels</a>
        <a class="nav-item nav-link active" routerLink="/ROUTEUR_À_IMPLÉMENTER"
          >Rooms</a
        >
        <a class="nav-item nav-link active" routerLink="/ROUTEUR_À_IMPLÉMENTER"
          >Guests</a
        >
      </div>
    </div>
  </nav>
  